    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <address>
                    <strong>Kęs Pizza & Grill</strong><br>
                    Orzeszkowej 29B<br>
                    62-200 Gniezno<br>
                    <abbr title="Phone">tel:</abbr> <a href="tel:575912441">575 912 441</a>
                </address>
            </div>
        </div>
    </section>