<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kęs Pizza & Grill. Pizza, dania z grila, burgery, frytki. Gniezno">
    <meta name="keywords" content="pizza, gniezno, dania z grila, burgery, frytki">

    <meta property="og:title" content="Kęs Pizza & Grill" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kespizza.pl/" />
    <meta property="og:image" content="https://kespizza.pl/img/intro-bg.jpg" />
    <meta property="og:description" content="Kęs Pizza & Grill. Pizza, dania z grila, burgery, frytki." /> 
    <meta property="og:site_name" content="Kęs Pizza & Grill" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}"></link>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "/css/flaticon/flaticon.css" | prepend: site.baseurl }}"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Restaurant",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Gniezno",
              "postalCode": "62-200",
              "streetAddress": "Orzeszkowej 29B"
            },
            "name": "Kęs Pizza & Grill",
            "openingHours": [
              "Tu-Th 13:30 - 20:30",
              "Fr 13:30 - 21:30",
              "Sa 12:00 - 21:30",
              "Su 14:00 - 19:30"
            ],
            "priceRange": "$$",
            "servesCuisine": [
              "Włoska",
              "Pizza",
              "Burger"
              "Pasta"
            ],
            "hasMenu": "https://kespizza.pl",
            "telephone": "575 912 441",
            "url": "https://kespizza.pl",
            "image": "https://kespizza.pl/img/logo.png"
          }
        </script>
</head>