 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div id="navbar-container" class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="tel:575912441">
                    <span class="navbar-telephone flaticon-telephone-auricular-hand-drawn-outline"><span class="hidden-xs"> 575 912 441</span> 
                </a>
                <div class="navbar-logo-container">
                    <img src="/img/logo.png" id="nav-logo"/>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar-menu" class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a class="page-scroll" href="#menu-pizza">pizza</a></li>
                          <li><a class="page-scroll" href="#menu-child-pizza">pizza dla dzieci</a></li>
                          <li><a class="page-scroll" href="#menu-roast-sandwiches">zapiekanki</a></li>
                          <li><a class="page-scroll" href="#menu-kebab">kebab</a></li>
                          <li><a class="page-scroll" href="#menu-grill-dishes">dania z grilla</a></li>  
                          <li><a class="page-scroll" href="#menu-pasta">MAKARON TAGIATELLE</a></li>
                          <li><a class="page-scroll" href="#menu-salads">sałatki</a></li>
                          <li><a class="page-scroll" href="#menu-burgers">burgery</a></li>
                          <li><a class="page-scroll" href="#menu-fires">frytki belgijskie</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>