<!-- working horus Section -->

<section id="working-hours" class="container text-center">  
    <h2  class="contact-header text-center">Godziny otwarcia</h2>
        <div class="col-xs-12 delivery-info">
            <div>Poniedziałek	nieczynne</div>
            <div>Wtorek	13:30 - 20:30</div>
            <div>środa	13:30 - 20:30</div>
            <div>Czwartek	13:30 - 20:30</div>
            <div>Piątek	13:30 - 21:30</div>
            <div>Sobota	12:00 - 21:30</div>
            <div>Niedziela	14:00 - 19:30</div>
        </div>
</section>