.menu-header {
    height: auto;
    padding: 20px;
    background: #fff;
    display: inline-block;
    -webkit-clip-path: polygon(4% 24%, 5% 18%, 8% 24%, 11% 20%, 11% 20%, 13% 16%, 15% 15%, 18% 20%, 18% 23%, 20% 20%, 22% 24%, 24% 21%, 24% 22%, 28% 19%, 32% 15%, 35% 16%, 38% 20%, 38% 23%, 39% 19%, 38% 17%, 43% 13%, 50% 12%, 50% 15%, 50% 17%, 52% 19%, 54% 14%, 56% 24%, 56% 19%, 59% 18%, 62% 23%, 64% 20%, 66% 18%, 67% 23%, 69% 25%, 73% 19%, 76% 18%, 80% 18%, 83% 19%, 90% 18%, 94% 24%, 93% 32%, 99% 35%, 98% 47%, 95% 55%, 98% 53%, 96% 60%, 99% 61%, 97% 65%, 95% 69%, 98% 79%, 96% 85%, 91% 85%, 86% 85%, 78% 86%, 74% 81%, 73% 83%, 72% 84%, 71% 82%, 68% 77%, 62% 82%, 59% 84%, 54% 84%, 51% 90%, 50% 85%, 48% 85%, 41% 78%, 37% 84%, 36% 77%, 31% 81%, 27% 82%, 25% 83%, 25% 81%, 19% 80%, 16% 85%, 9% 82%, 8% 75%, 8% 71%, 7% 66%, 5% 60%, 4% 53%, 6% 50%, 4% 47%, 6% 37%);
    clip-path: polygon(4% 24%, 5% 18%, 8% 24%, 11% 20%, 11% 20%, 13% 16%, 15% 15%, 18% 20%, 18% 23%, 20% 20%, 22% 24%, 24% 21%, 24% 22%, 28% 19%, 32% 15%, 35% 16%, 38% 20%, 38% 23%, 39% 19%, 38% 17%, 43% 13%, 50% 12%, 50% 15%, 50% 17%, 52% 19%, 54% 14%, 56% 24%, 56% 19%, 59% 18%, 62% 23%, 64% 20%, 66% 18%, 67% 23%, 69% 25%, 73% 19%, 76% 18%, 80% 18%, 83% 19%, 90% 18%, 94% 24%, 93% 32%, 99% 35%, 98% 47%, 95% 55%, 98% 53%, 96% 60%, 99% 61%, 97% 65%, 95% 69%, 98% 79%, 96% 85%, 91% 85%, 86% 85%, 78% 86%, 74% 81%, 73% 83%, 72% 84%, 71% 82%, 68% 77%, 62% 82%, 59% 84%, 54% 84%, 51% 90%, 50% 85%, 48% 85%, 41% 78%, 37% 84%, 36% 77%, 31% 81%, 27% 82%, 25% 83%, 25% 81%, 19% 80%, 16% 85%, 9% 82%, 8% 75%, 8% 71%, 7% 66%, 5% 60%, 4% 53%, 6% 50%, 4% 47%, 6% 37%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-column {
    padding: 0 30px;
    border: 2px dashed #f3f1ed;
}
.menu-header >  h1 {
    text-transform: none;
    font-size: 35px;
    margin: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.menu-dish-container {
    margin-top: 15px;
    min-height: 155px;
}
.menu-dish-container:not(:last-child) {
    border-bottom: 1px solid #f3f1ed;
}

.menu-fork {
    background: url(/img/fork-bg.png) no-repeat right bottom scroll;
    background-size: 35%;
}

.menu-dish {
    box-sizing:border-box;
}
.menu-dish .menu-dish-header > h2 {
    font-size: 25px;
}
.menu-dish .menu-dish-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-dish .menu-dish-ingredients {
    margin-bottom: 15px;
    font-size: 24px;
}
